In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('movie_metadata.csv')

In [5]:
df.shape

(5043, 28)

In [6]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [18]:
sorted(df.columns)

['actor_1_facebook_likes',
 'actor_1_name',
 'actor_2_facebook_likes',
 'actor_2_name',
 'actor_3_facebook_likes',
 'actor_3_name',
 'aspect_ratio',
 'budget',
 'cast_total_facebook_likes',
 'color',
 'content_rating',
 'country',
 'director_facebook_likes',
 'director_name',
 'duration',
 'facenumber_in_poster',
 'genres',
 'gross',
 'imdb_score',
 'language',
 'movie_facebook_likes',
 'movie_imdb_link',
 'movie_title',
 'num_critic_for_reviews',
 'num_user_for_reviews',
 'num_voted_users',
 'plot_keywords',
 'title_year']

In [13]:
df.shape

(5043, 28)

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df.shape

(4998, 28)

In [21]:
df['genres'] = df['genres'].apply(lambda x: x.split('|'))

In [23]:
df['genres'][:10]

0                 [Action, Adventure, Fantasy, Sci-Fi]
1                         [Action, Adventure, Fantasy]
2                        [Action, Adventure, Thriller]
3                                   [Action, Thriller]
4                                        [Documentary]
5                          [Action, Adventure, Sci-Fi]
6                         [Action, Adventure, Romance]
7    [Adventure, Animation, Comedy, Family, Fantasy...
8                          [Action, Adventure, Sci-Fi]
9                [Adventure, Family, Fantasy, Mystery]
Name: genres, dtype: object

In [64]:
movie_title = []
genres = []

In [65]:
def extract_genre(x):
    title = x.movie_title
    for g in x.genres:
        movie_title.append(title)
        genres.append(g)

In [66]:
df.apply(extract_genre, 1);

In [67]:
genres_df = pd.DataFrame({'movie_title': movie_title,
                          'genres': genres})

In [68]:
genres_df.head()

      genres                                movie_title
0     Action                                    AvatarÂ
1  Adventure                                    AvatarÂ
2    Fantasy                                    AvatarÂ
3     Sci-Fi                                    AvatarÂ
4     Action  Pirates of the Caribbean: At World's EndÂ